<main>
  <app-table-title [title]="tableTitle() || defaultTitle" [icon]="tableTitleIconName()" />
  <ng-content select="[filter]"></ng-content>
  @if (dataSource().length > 0) {
    <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8 tableContainer">
      @for (column of columnsToDisplay(); track column) {
        @if(column === 'actions') {
          <ng-container matColumnDef="{{ column }}">
            <th mat-header-cell *matHeaderCellDef class="table-header">{{ column | titlecase }}</th>
          @for (item of actions(); track item) {
              <td mat-cell *matCellDef="let element">
                <button mat-button mat-icon-button color="primary" (click)="item.action(element)">
                  {{item.name}}
                </button>
           </td>
          }
        </ng-container>
        }
        @else {
          <ng-container matColumnDef="{{ column }}">
            <th mat-header-cell *matHeaderCellDef class="table-header">{{ column | titlecase }}</th>
            <td mat-cell *matCellDef="let element">{{element[column]}}</td>
          </ng-container>
        }
      }

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay()"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay()"></tr>
    </table>
  } @else {
    <span class="no-results"> Brak wyników </span>
  }
</main>

